<div class="container">
  <img src="../assets/images/burger-on.jpg" alt="keep calm and burger on">

  <h2>What's on your burger wish list?</h2>

  <!-- <form class="text" action="index.html" method="post"> -->
  <form class="text">
    <div class="form-group">
      <!-- <label for="burger">Burger description</label> -->
      <input type="text" class="form-control" id="burger" aria-describedby="burger" placeholder="Burger description">
    </div>
    
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>

</div>






<!-- <ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> -->
